.bg-header {
    background-color: rgba(255, 238, 250, 1);
}

.section-2 {
    background-color: rgba(255, 231, 241, 1);
}

.section-3 {
    background-color: rgba(255, 238, 250, 1);
}

.section-8 {
    background-color: rgba(255, 237, 194, 1);
}

.section9 {
    background-color: rgba(33, 33, 33, 1);
}

.btn-masalah1 {
    background-color: rgba(225, 190, 231, 1);
}

.btn-masalah2 {
    background-color: rgba(255, 205, 210, 1);
}

.btn-masalah3 {
    background-color: rgba(179, 157, 219, 1);
}

.row-body {
    margin-top: -20px;
    margin-bottom: -20px;
}

.row-body .col {
    margin-left: 10px;
}

.iframe-yt iframe {
    margin: 5px;
}

@media (max-width: 792px) {
    .testiImg img {
        width: 100% !important
    }
}